* {
    background-color: cornsilk;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*.container {
    display: grid;
    max-width: 800px;
    height: 50vh;
    grid-template-areas: "header header header" "leftpic main rightpic" "feedtext text submit" "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr 1fr auto;
    align-items: center;
    column-gap: 4vw;
}*/

@keyframes anim {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }    
}

.header {
    text-align: center;
    color:black;
    font-weight: bold;
}

section {
    display: flex;
    align-items: center;
}

.pic {
    animation: anim 5s infinite linear;
}

.form {
    padding: 25px;
}

.text {
    border-radius: 15px;
    border-color:black;
}

.submit {
    color:white;
    background-color: blue;
    border-radius: 15px;
}

.bottombox {
    text-align: center;
}
